{% extends "tasks/base.html" %}

{% block content %}
<h3 class= "m-4">Holiday Planner</h3>
<div class = "row">
<div class = "col-14" >
    {% if holiday %}

    <!-- table color: https://bootswatch.com/slate/ -->
    <div class="card text-white bg-info ms-4 me-4 mb-4">
      <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i>Planned holidays</div>
      
        <div class="card-body">
        <p class="card-text">
          <div class ="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Holiday number</th>
                  <th scope="col">Holiday type</th>
                  <th scope="col">Description</th>
                  <th scope="col">From</th>
                  <th scope="col">To</th>
                  <th scope="col">Status</th>
                  <th scope="col">Start date</th>
                  <th scope="col">End date</th>
                  <th scope="col">Budget</th>
                  <th scope="col">Comment</th>
                 
                </tr>
              </thead>
          <tbody>
            {% for holiday in holiday %}
            <tr>
              <td>{{holiday.holiday_number}}</td>
              <td>{{holiday.holiday_type}}</td>
              <td>{{holiday.holiday_description}}</td>
              <td>{{holiday.holiday_from}}</td>
              <td>{{holiday.holiday_to}}</td>
              <td>{{holiday.holiday_status}}</td>
              <td>{{holiday.holiday_start_date}}</td>
              <td>{{holiday.holiday_end_date}}</td>
              <td>{{holiday.holiday_budget}}</td>
              <td>{{holiday.holiday_comment}}</td>
              
              <td>
    
                <!-- View button -->
                  <button type="button" class="btn btn-succes me-1" href="{% url 'view_holiday' holiday.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{holiday.id}}">
                    <i class="fa-solid fa-circle-question fa-lg"></i>
                  </button>
    
                  <!-- Modal view -->
                  <div class="modal" id="myModal{{holiday.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">To Go: {{ holiday.holiday_description}}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                          </button>
                          </div>
                          <div class="modal-body">
                          <ul class="list-unstyled">
                          <li>Holiday number: <strong>{{ holiday.holiday_number }}</strong></li>
                          <li>Holiday type: <strong>{{ holiday.holiday_type}}</strong></li>
                          <li>Holiday description: <strong>{{ holiday.holiday_description}}</strong></li>
                          <li>Holiday from: <strong>{{ holiday.holiday_from}}</strong></li>
                          <li>Holiday to: <strong>{{ holiday.holiday_to}}</strong></li>
                          <li>Holiday status: <strong>{{ holiday.holiday_status}}</strong></li>
                          <li>Holiday start date: <strong>{{ holiday.holiday_start_date}}</strong></li>
                          <li>Holiday end date: <strong>{{ holiday.holiday_end_date}}</strong></li>
                          <li>Holiday budget: <strong>{{ holiday.holiday_budget}}</strong></li>
                          </ul>
                          </div>
                          <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                    </div>
                  </div>

              <!-- Buttons for Complete -->
              <button type="button" class="btn btn-succes me-1" href="{% url 'view_holiday' holiday.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{holiday.id}}">
                <i class="fa-solid fa-circle-check fa-lg"></i>
              </button>
    
                  <!-- Buttons for Update and Delete -->
                  <a class="btn btn-warning me-1" href="{% url 'edit_holiday' holiday.id %}">
                    <i class="fa-solid fa-pencil fa-lg"></i>
                  </a>
                  
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{holiday.id}}">
                    <i class="fa-solid fa-trash-can fa-lg"></i>
                  </button>
    
                  <!-- Modal delete -->
                  <div class="modal" id="delete{{holiday.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">To Go: {{ holiday.holiday_description}}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                          </button>
                          </div>
                          <div class="modal-body">
                        <p>Are you sure you want to delete this holiday?</p>
                          </div>
                          <div class="modal-footer">
                            <form action="{% url 'delete_holiday' holiday.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-primary" value="Delete">
                          </form>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          </div>
                        </div>
                    </div>
                  </div>
    
              </td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
          </div>
        </p>
      </div>
      {% else %}
    <h5 class = "alert alert-primary ms-4 me 4">No holiday planned. Get a vacation!</h5>
    {% endif %}
    </div>
    
    {% endblock %}